---
import CircleLink from "../components/CircleLink.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Space Tourism">
	<div slot="top-content" class="top-content">
		<h1 class="heading-5">
			so, you want to travel to <strong class="heading-1">SPACE</strong>
		</h1>
		<p class="body-text">
			Let’s face it; if you want to go to space, you might as well genuinely go
			to outer space and not hover kind of on the edge of it. Well sit back, and
			relax because we’ll give you a truly out of this world experience!
		</p>
	</div>

	<div class="bottom-content" slot="bottom-content">
		<CircleLink text="EXPLORE" destination="/destination" />
	</div>
</Layout>

<style lang="scss">
	body {
		background: url(/home/background-home-mobile.jpg) no-repeat center center
			fixed;
		background-size: cover;

		@media only screen and (min-width: 768px) {
			background: url(/home/background-home-tablet.jpg) no-repeat center center
				fixed;
			background-size: cover;
		}

		@media only screen and (min-width: 1100px) {
			background: url(/home/background-home-desktop.jpg) no-repeat center center
				fixed;
			background-size: cover;

			.top-content,
			.bottom-content {
				justify-content: end;
			}

			.bottom-content {
				align-items: end;
			}
		}
	}

	h1 {
		strong {
			display: block;
			margin: 1.5rem 0;
		}
	}
</style>
