---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Technology" pageNumber={3} pageHeader="Space Launch 101">
	<div slot="top-content" class="top-content">
		<div class="images">
			<img
				src="/public/technology/image-launch-vehicle-landscape.jpg"
				alt="Launch vehicle"
				class="landscape-image"
				data-tab-content="launch-vehicle"
				data-tab-content-active="true"
			/>
			<img
				src="/public/technology/image-space-capsule-landscape.jpg"
				alt="Spaceport"
				class="landscape-image"
				data-tab-content="space-capsule"
			/>
			<img
				src="/public/technology/image-spaceport-landscape.jpg"
				alt="Space Capsule"
				class="landscape-image"
				data-tab-content="spaceport"
			/>
			<img
				src="/public/technology/image-launch-vehicle-portrait.jpg"
				alt="Launch vehicle"
				class="portrait-image"
				data-tab-content="launch-vehicle"
				data-tab-content-active="true"
			/>
			<img
				src="/public/technology/image-space-capsule-portrait.jpg"
				alt="Spaceport"
				class="portrait-image"
				data-tab-content="space-capsule"
			/>
			<img
				src="/public/technology/image-spaceport-portrait.jpg"
				alt="Space Capsule"
				class="portrait-image"
				data-tab-content="spaceport"
			/>
		</div>
	</div>

	<div class="bottom-content" slot="bottom-content">
		<div class="tabs">
			<span
				class="circle-tab"
				data-tab="launch-vehicle"
				aria-label="Open launch vehicle tab"
				data-tab-active="true">1</span
			>
			<span
				class="circle-tab"
				data-tab="spaceport"
				aria-label="Open spaceport tab"
			>
				2
			</span>
			<span
				class="circle-tab"
				data-tab="space-capsule"
				aria-label="Open space capsule tab">3</span
			>
		</div>

		<div
			class="tab-content"
			data-tab-content="launch-vehicle"
			data-tab-content-active="true"
		>
			<h2>
				THE TERMINOLOGY...<strong>Launch Vehicle</strong>
			</h2>
			<p>
				A launch vehicle or carrier rocket is a rocket-propelled vehicle used to
				carry a payload from Earth's surface to space, usually to Earth orbit or
				beyond. Our WEB-X carrier rocket is the most powerful in operation.
				Standing 150 metres tall, it is quite an awe-inspiring sight on the
				launch pad!
			</p>
		</div>
		<div class="tab-content" data-tab-content="spaceport">
			<h2>THE TERMINOLOGY...<strong>Spaceport</strong></h2>
			<p>
				A spaceport or cosmodrome is a site for launching (or receiving)
				spacecraft, by analogy to the seaport for ships or airport for aircraft.
				Based in the famous Cape Canaveral, our spaceport is ideally situated to
				take advantage of the Earth’s rotation for launch.
			</p>
		</div>
		<div class="tab-content" data-tab-content="space-capsule">
			<h2>
				THE TERMINOLOGY...<strong>Space Capsule</strong>
			</h2>
			<p>
				A space capsule is an often-crewed spacecraft that uses a blunt-body
				reentry capsule to reenter the Earth's atmosphere without wings. Our
				capsule is where you'll spend your time during the flight. It includes a
				space gym, cinema, and plenty of other activities to keep you
				entertained.
			</p>
		</div>
	</div>
	<script src="../components/TabsHandler.ts"></script>
</Layout>

<style lang="scss" is:global>
	body {
		background: url(/public/technology/background-technology-mobile.jpg)
			no-repeat center center fixed;
		background-size: cover;

		@media only screen and (min-width: 768px) {
			background: url(/public/technology/background-technology-tablet.jpg)
				no-repeat center center fixed;
			background-size: cover;
		}

		@media only screen and (min-width: 1100px) {
			background: url(/public/technology/background-technology-desktop.jpg)
				no-repeat center center fixed;
			background-size: cover;
		}
	}

	.images {
		width: 100%;

		img {
			width: 100%;
		}
	}

	.tab-content {
		padding-inline: 1.5rem;

		h2 {
			margin-top: 2rem;
			font-size: 0.875rem;
			color: var(--text-secondary);
			letter-spacing: 0.1475rem;

			strong {
				padding-block: 0.5rem;
				display: block;
				font-family: "Bellefair", sans-serif;
				font-size: 1.5rem;
				font-weight: 400;
				color: var(--white);
				letter-spacing: initial;
			}
		}
	}

	.tabs {
		padding-top: 2rem;
		display: flex;
		justify-content: center;
		gap: 1.5rem;
	}

	.portrait-image {
		display: none;
	}

	.circle-tab {
		width: 3rem;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;

		border: 1px solid rgba(255, 255, 255, 0.25);
		border-radius: 50%;
		background-color: transparent;

		font-family: "Bellefair", sans-serif;
		font-size: 1rem;

		&[data-tab-active="true"] {
			background-color: var(--white);
			color: var(--text-invert);
			border-color: var(--white);
		}

		&:hover {
			cursor: pointer;
			border-color: white;
		}
	}

	.content {
		padding-inline: 0;
	}

	@media only screen and (min-width: 768px) {
		.bottom-content {
			align-items: center;
			padding-inline: 6rem;
		}

		.tab-content {
			h2 {
				font-size: 1rem;
				strong {
					font-size: 2.5rem;
					padding-block: 1rem;
				}
			}
		}

		.circle-tab {
			width: 3.75rem;
			height: 3.75rem;
			font-size: 1.5rem;
		}
	}

	@media only screen and (min-width: 1100px) {
		.content {
			flex-direction: row-reverse;
			padding-left: 10rem;
		}

		.bottom-content {
			flex-direction: row;
			justify-content: center;
			padding-inline: 0;
		}

		.tabs {
			flex-direction: column;
			padding-right: 2rem;
		}

		.circle-tab {
			width: 5rem;
			height: 5rem;
			font-size: 2rem;
		}

		.landscape-image {
			display: none;
		}

		.portrait-image[data-tab-content-active] {
			padding-top: 4rem;
			display: block;
			margin-left: auto;
			max-width: 32rem;
		}

		.tab-content {
			h2 {
				strong {
					font-size: 3.5rem;
					padding-block: 1rem;
				}
			}
		}
	}
</style>
