---
import Header from "../components/Header.astro";
export interface Props {
	title: string;
	pageHeader?: string
	pageNumber?: number
}

const { title, pageHeader, pageNumber } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${title} | Space Tourism`}</title>
	</head>
	<body>
		<Header />
		{
			pageHeader && pageNumber &&
			<h1 class="heading-5 page-header">
				<span aria-hidden="true">
					0{pageNumber}
				</span>
				{pageHeader}
			</h1>
		}
		<div class="content">
			<slot name="top-content"/>
			<slot name="bottom-content"/>
		</div>
	</body>
</html>

<style is:global lang="scss">
	@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;700&family=Barlow:wght@200;400&family=Bellefair&display=swap");
	* {
		box-sizing: border-box;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		min-width: 100vw;
		min-height: 100vh;

		font-family: var(--font-secondary);
	}

	html {
		background-color: black;
		--white: #ffffff;
		--gray: #979797;
		--dark-blue: #383b4b;

		--text-primary: #ffffff;
		--text-secondary: #d0d6f9;
		--text-invert: #0b0d17;

		--font-primary: "Bellefair", serif;
		--font-secondary: "Barlow", sans-serif;
		--font-condensed: "Barlow Condensed", sans-serif;

		--font-spacing-small: 0.16875rem;
		--font-spacing-medium: 0.21125rem;
		--font-spacing-large: 

		--panel-bg: rgba(255, 255, 255, 0.04);

		--heading-1: 
	}

	body {
		display: flex;
		flex-direction: column;
	}

	h1.page-header {
		text-align: center;
		color: var(--white);
		span {
			font-weight: 700;
			color: var(--white);
			opacity: 0.25;
			padding-right: 0.25rem;
		}

		@media only screen and (min-width: 768px) {
			text-align: left;
			padding-left: 2rem;
		}

		@media only screen and (min-width: 1100px) {
			padding-left: 10rem;
			padding-bottom: 2rem;
		}
			
	}

	p {
		margin: 0;
		font-family: 'Barlow', sans-serif;
		line-height: 1.5625rem;

		@media only screen and (min-width: 768px) {
			line-height: 1.75rem;
		}

		@media only screen and (min-width: 1100px) {
			line-height: 2rem;
		}
	}

	.top-content, .bottom-content {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.content {
		width: 100%;
		height: 100%;
		padding: 2rem 1.5rem 1rem 1.5rem;
		color: var(--text-primary);
		flex-grow: 1;

		text-align: center;

		p {
			color: var(--text-secondary);
		}

		@media only screen and (min-width: 768px) {
			padding-inline: 6rem;
		}

		@media only screen and (min-width: 1100px) {
			display: flex;
			flex-direction: row;
			text-align: left;
			align-items: stretch;
			justify-content: space-between;
			gap: 8rem;

			padding: 0 10rem 8rem 10rem;
			padding-inline: 10rem;
		}
	}

	a {
		text-decoration: none;
		color: var(--text-primary);
	}

	h1, h2, h3, h4, h5 {
		text-transform: uppercase;
	}

	h2 {
		margin: 0;
	}

.heading-1 {
  font: 400 5rem 'Bellefair';
  color: #fff;

	@media only screen and (min-width: 768px) {
		font-size: 9.375rem;
	}
}

.heading-2 {
  font: 400 6.25rem 'Bellefair';
  color: #fff;
}

.heading-3 {
	margin: 1rem 0;
  font: 400 3.5rem 'Bellefair';
  color: #fff;

	@media only screen and (min-width: 768px) {
		font-size: 5rem;
	}
	@media only screen and (min-width: 1100px) {
		font-size: 6.25rem;
	}
}

.heading-4 {
  font: 400 2rem 'Bellefair';
  color: #fff;
}

.heading-5 {
  font: 400 1rem 'Barlow Condensed';
  letter-spacing: 0.16875rem;
  color: var(--text-secondary);

	@media only screen and (min-width: 768px) {
		font-size: 1.25rem;
		letter-spacing: 0.21125rem;
	}

	@media only screen and (min-width: 1100px) {
		font-size: 1.75rem;
		letter-spacing: 0.295rem;
	}
}

.subheading-1 {
  font: 400 1.75rem 'Bellefair';
  color: #fff;
}

.subheading-2 {
  font: 400 0.875rem 'Barlow Condensed';
  letter-spacing: 0.146875rem;
  color: #fff;
}

.nav-text {
  font: 400 1rem 'Barlow Condensed';
  letter-spacing: 0.16875rem;
  color: #fff;
}

.body-text {
  font: 400 0.9375rem 'Barlow';
  color: var(--text-secondary);
	line-height: 1.5625rem;

	@media only screen and (min-width: 768px) {
		font-size: 1rem;
		line-height: 1.75rem;
	}

	@media only screen and (min-width: 1100px) {
		font-size: 1.125rem;
		line-height: 2rem;
	}
}



[data-tab-content] {
	display: none;
}

[data-tab-content-active] {
	display: initial;
}
</style>
